<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="models" value="https://gitlab.com/api/v4/projects/28947632/packages/nuget/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSourceCredentials>
    <models>
      <add key="Username" value="nuget_push" />
      <add key="ClearTextPassword" value="wAhzFGt9UreLivDLMGYC" />
    </models>
  </packageSourceCredentials>
</configuration>